<div class="welcomeWrapper">
  <h2> Welcome to Pup Tracker! </h2>
</div>
<div class="wrapper">
  <button class="btn btn-default login" ng-click="changeView('/login')">Login</button>
  <button class="btn btn-default register" ng-click="changeView('/register')">Register</button>
</div>
<div class="welcomeTextWrapper">
  <p>
    Inspired by the pups over at <a href="http://instagram.com/adventuresofsamandty" target="_blank">Adventures of Sam and Ty</a>, this app was made so you can keep track of all your puppy's needs.
  </p>
</div>
