<div class="authHeaderWrapper">
  <section class="auth form">
    <h2>Login</h2>
    <h3 class="formError">{{errorMsg}}</h3>
  </section>
</div>

<div class="authContentWrapper">
  <div>
    Email:
    <input type="text" autofocus="true" ng-model="account.email">
  </div>
</div>
<div class="authContentWrapper">
  <div>
    Password:
    <input type="password" autofocus="true" ng-model="account.password">
  </div>
</div>
<div class="authContentWrapper">
  <div>
    Password Confirmation:
    <input type="password" ng-model="account.passwordConf">
  </div>
</div>

<div class="authBtnWrapper">
  <button class="btn btn-success authBtnWrapper" ng-click="login()">Login</button>
</div>