<section class="createEventForm">
  <h3>Create Event</h3>
  <div>
    Title: 
    <input type="text" autofocus="true" ng-model="newEvent.title">
  </div>
  <div>
    Length: 
    <input type="text" autofocus="true" ng-model="newEvent.length">
  </div>
  <div>
    Date: 
    <input type="date" ng-model="newEvent.date">
  </div>
  <!-- <div>
    Event Type: 
    <!-- <input type= drop down? autofocus="true" ng-model="">
  </div> -->
  <div>
    Notes: 
    <input type="text" autofocus="true" ng-model="newEvent.notes">
  </div>
  <button class="btn btn-default" ng-click="createEvent()">Create</button>
</section>