<div>
  <button class="backBtn btn btn-default" ng-click="backBtn()">Back to My Pets</button>
</div>

<div class="petsHeaderWrapper">
  <section class="createPetForm">
    <h3>Create a Pet</h3>
  </section>
</div>

<div class="petsContentWrapper content">
  <div>
    First Name:
    <input type="text" autofocus="true" ng-model="newPet.first_name">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Last Name:
    <input type="text" autofocus="true" ng-model="newPet.last_name">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Birth Date (MM-DD-YYYY):
    <input type="date" autofocus="true" ng-model="newPet.birth_date">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Adoption Date (MM-DD-YYYY):
    <input type="date" autofocus: "true" ng-model="newPet.adoption_date">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Breed:
    <input type="text" autofocus="true" ng-model="newPet.breed">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Gender:
    <input type="radio" name="gender" value="male" ng-model="newPet.gender">Male
    <input type="radio" name="gender" value="female" ng-model="newPet.gender">Female
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Food Amount:
    <input type="text" autofocus="true" ng-model="newPet.food_amount">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Food Brand:
    <input type="text" autofocus="true" ng-model="newPet.food_brand">
  </div>
</div>
<div class="petsContentWrapper content">
  <div>
    Notes (optional):
    <input type="text" autofocus="true" ng-model="newPet.notes">
  </div>
</div>
<div class="petsBtnWrapper">
  <button class="btn btn-default petsBtnWrapper" ng-click="createPet(); changeView('/mypets');">Create</button>
</div>