<div>
  <button class="backBtn" ng-click="backBtn()">Back to My Pets</button>
</div>

<div class="eventsHeaderWrapper">
  <section class="createEventForm">
    <h3>Create Event</h3>
  </section>
</div>
<div class="timelineContentWrapper content">
  <div>
    Title:
    <input type="text" autofocus="true" ng-model="newEvent.title">
  </div>
</div>
<div class="timelineContentWrapper content">
  <div>
    Length:
    <input type="text" autofocus="true" ng-model="newEvent.length">
  </div>
</div>
<div class="timelineContentWrapper content">
  <div>
    Date:
    <input type="date" ng-model="newEvent.date">
  </div>
</div>
<!-- <div>
    Event Type: 
    <!-- <input type= drop down? autofocus="true" ng-model="">
  </div> -->
<div class="timelineContentWrapper content">
  <div>
    Notes:
    <input type="text" autofocus="true" ng-model="newEvent.notes">
  </div>
</div>
<div class="eventsBtnWrapper">
  <button class="btn btn-default" ng-click="createEvent()">Create</button>
</div>