<section class="createPetForm">
  <h3>Create a Pet</h3>
  <div>
    First Name:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Last Name:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Birth Date (MM-DD-YYYY):
    <input type="date" autofocus="true" ng-model="">
  </div>
  <div>
    Breed:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Gender:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Food Amount:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Food Brand:
    <input type="text" autofocus="true" ng-model="">
  </div>
  <div>
    Notes (optional):
    <input type="text" autofocus="true" ng-model="">
  </div>
</section>