<section class="auth form">
  <h2>Login or Register</h2>
  <h3 class="formError">{{errorMsg}}</h3>
  <div>
    First Name: 
    <input type="text" autofocus="true" ng-model="account.first_name">
  </div>
  <div>
    Last Name: 
    <input type="text" autofocus="true" ng-model="account.last_name">
  </div>
  <div>
    Email: 
    <input type="text" autofocus="true" ng-model="account.email">
  </div>
  <div>
    Password: 
    <input type="password" autofocus="true" ng-model="account.password">
  </div>
  <div>
    Password Confirmation: 
    <input type="password" ng-model="account.passwordConf">
  </div>
  <div>
    <button class="btn btn-default" ng-click="register()">Register</button>
  </div>
</section>