* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html, body {
  background-color: #e1e4ea;
  position: relative;
  height: 100%; }

#container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; }

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.welcomeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 50px; }

.welcomeTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px; }

.footer span {
  color: #e25555; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d7dae0;
  text-align: center; }

.footer a:link {
  text-decoration: none;
  color: red; }

.footer a:hover {
  color: lightcoral; }

.footer a:visited {
  color: darkslateblue; }
