////////////////// FULL ////////////////// 

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: #e1e4ea;
  position: relative;
  height: 100%;
}

#container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

body {
  background-color: #456990;
  color: #d7dae0;
}


////////////////// CONTENT ////////////////// 

.backBtn {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.welcomeTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.welcomeTextWrapper a {
  color: yellow;
}

.welcomeTextWrapper a:hover {
  color: salmon;
}

.welcomeTextWrapper a:visited {
  color: lightgrey;
}

.welcomeBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.petsHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.petsContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.petCard {
  margin: 10px;
}

.petsBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}

.eventsHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.timelineContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.eventCard {
  margin: 15px;
}

.eventsBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}

.authHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.authContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.authBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  cursor: pointer;
}




////////////////// FOOTER ////////////////// 

.footer span {
  color: #e25555;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d7dae0;
  text-align: center;
}

.footer a:link {
  text-decoration: none;
  color: red;
}

.footer a:hover {
  color: lightcoral;
}

.footer a:visited {
  color: darkslateblue;
}



////////////////// GENERAL MEDIA QUERIES ////////////////// 

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}